#smr{
    text-align: center;
    font-size: xx-large;
    color: rgb(7, 92, 7);
    text-shadow: 
    0 0 10px pink,
    0 0 20px pink,
    0 0 30px pink,
    0 0 40px pink;
}
.imgg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img1, .img2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}
.img1:hover{
    color: lightpink;
}

.img2:hover{
    color: lightpink;
}

.img1:hover img {
    filter: blur(20px);
}

.img2:hover img {
    filter: blur(20px);
}